Repository LeiaQuesada/chefgpt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:backend, test:frontend

.gitlab-ci.yml:

# GitLab CI/CD Configuration for FastAPI Books Application
stages:
  - test
variables:
  # Use Python 3.12+ for compatibility
  PYTHON_VERSION: "3.12"
  # Disable pip cache for clean builds
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
cache:
  paths:
    - .cache/pip/
    - server/.venv/
# Backend Tests
test:backend:
  stage: test
  image: python:${PYTHON_VERSION}
  before_script:
    - cd server
    - python -m venv .venv
    - source .venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # pytest already includes JUnit XML support
  script:
    - source .venv/bin/activate
    - python -m pytest tests/ -v --junit-xml=test-results.xml
  only:
    changes:
      - server/**/*
      - .gitlab-ci.yml
  artifacts:
    reports:
      junit: server/test-results.xml
    when: always
    expire_in: 1 week
# Frontend tests
test:frontend:
  stage: test
  image: node:24
  before_script:
    - cd client
    - npm install -g pnpm
    - pnpm install
  script:
    - pnpm build
    # - pnpm test
  only:
    changes:
      - client/**/*
      - .gitlab-ci.yml

Adding __init__.py to tests folder
  server/tests/__init__.py
Due: test:backend

Fixing bad import
  server/tests/test_add_recipe.py
Due: test:backend

Commented out empty placeholder function.
  client/src/App.tsx
Due: test:frontend

fixing tests
  server/shared/database.py
  server/tests/test_add_recipe.py
  server/tests/test_auth_db.py
  server/tests/test_get_all_recipes.py
Due: test:backend

merge conflict
  client/src/App.tsx
Due: test:frontend

Change print statements to see full AI results
  server/gemini_api.py
Due: test:backend

Add backend user authentication to update_recipe and get_recipe_id routes functions.
  server/recipes/recipes_db.py
  server/recipes/recipes_router.py
Due: test:backend

Merge conflict
  client/src/App.css
  client/src/App.tsx
  client/src/components/Dashboard.tsx
  client/src/components/Login.tsx
  client/src/components/RecipeDetails.tsx
  client/src/components/Register.tsx
  client/src/components/UserMenu.tsx
  server/main.py
  server/recipes/recipes_generate_schemas.py
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Create backend AI endpoint and frontend component to generate recipes
  client/src/components/Dashboard.tsx
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Implemented error message
  client/src/components/Dashboard.tsx
Due: test:frontend

Removed useEffect hook
  client/src/components/Dashboard.tsx
Due: test:frontend

Added frontend authentication with requests and updated login component.
  client/src/authentication/auth-api.ts
  client/src/components/Login.tsx
Due: test:frontend

Moved files, reconfigure code, deleted gemini_ai.py
  server/gemini_api.py
  server/main.py
  server/recipes/ai_api.py
  server/recipes/ai_schemas.py
  server/recipes/recipes_router.py
Due: test:backend

Updated routes to match wireframes.
  client/src/authentication/ProtectedRoute.tsx
  client/src/authentication/auth-api.ts
  server/authentication/auth_router.py
Due: test:backend, test:frontend

Wrap protected routes to prevent unauthenticated use.
  client/src/App.tsx
Due: test:frontend

Add user to all components for authentication purposes. Update object type to include user_id for recipes.
  client/src/components/RecipeDetails.tsx
  client/src/components/RecipeEditPage.tsx
  client/types/recipe.ts
  server/recipes/recipes_db.py
Due: test:backend, test:frontend

Add user id to recipe edit page.
  client/src/components/RecipeEditPage.tsx
Due: test:frontend

Added image url for recipes table
  server/data/chefgpt.sql
Due: test:backend

Created dashboard component
  client/src/App.css
  client/src/App.tsx
  client/src/components/Dashboard.tsx
  client/src/components/Layout.tsx
  client/src/components/RecipeGenerator.tsx
  client/src/index.css
  client/src/main.tsx
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Fixed types
  client/src/components/RecipeGenerator.tsx
  client/types/recipe.d.ts
Due: test:frontend

Move import url to the top
  client/src/App.css
Due: test:frontend

Added some styling
  client/src/components/RecipeGenerator.tsx
Due: test:frontend

Add functionality to delete button on recipe card and recipe details page
  client/src/components/Cookbook.tsx
  client/src/components/RecipeDetails.tsx
  server/recipes/recipes_db.py
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Register component now takes frontend input and posts to backend.
  client/src/components/Register.tsx
Due: test:frontend

Hide Login and Register nav links in Layout when user is logged in using UserProvider context.
  client/src/components/Layout.tsx
Due: test:frontend

Implement frontend logout function to talk to backend.
  client/src/components/UserMenu.tsx
Due: test:frontend

Clean up protected routes.
  client/src/App.tsx
Due: test:frontend

Use ternary to handle displayed nav links.
  client/src/components/Layout.tsx
Due: test:frontend

fix typo in error messaging.
  server/shared/auth.py
Due: test:backend

set up minio photo storage services
  server/.gitignore
  server/docker-compose.yml
Due: test:backend

Create HomePage component with login and register navigation
  client/src/App.css
  client/src/App.tsx
  client/src/assets/avocado.png
  client/src/assets/baguette.png
  client/src/assets/carrot.png
  client/src/assets/steak.png
  client/src/assets/tomato.png
  client/src/components/HomePage.module.css
  client/src/components/HomePage.tsx
Due: test:frontend

Delete unused imports
  client/src/components/HomePage.tsx
Due: test:frontend

install boto3 python library to talk to aws services.
  server/requirements.txt
Due: test:backend

Added more seed data
  server/data/chefgpt.sql
Due: test:backend

Inserted chefgpt logo as svg file on home page and layout
  client/src/App.css
  client/src/assets/cooking.png
  client/src/assets/logo.svg
  client/src/components/HomePage.module.css
  client/src/components/HomePage.tsx
  client/src/components/Layout.tsx
  client/src/components/RecipeGenerator.tsx
Due: test:frontend

Created sticky scroll to top button on Cookbook page
  client/src/App.css
  client/src/components/Cookbook.tsx
Due: test:frontend

Styled RecipeDetails page
  client/src/App.css
  client/src/components/RecipeDetails.tsx
Due: test:frontend

Styled Edit Recipe page
  client/src/App.css
  client/src/assets/cancelbutton.png
  client/src/assets/save.png
  client/src/components/RecipeEditPage.tsx
Due: test:frontend

make edit-profile-component
  client/package-lock.json
  client/src/App.css
  client/src/App.tsx
  client/src/components/EditProfile.tsx
Due: test:frontend

backend edit-profile-component and a loged in use can see recipes
  server/authentication/auth_router.py
  server/authentication/auth_schemas.py
  server/recipes/recipes_db.py
  server/recipes/recipes_router.py
Due: test:backend
