Repository LeiaQuesada/chefgpt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:backend, test:frontend

.gitlab-ci.yml:

# GitLab CI/CD Configuration for FastAPI Books Application
stages:
  - test
variables:
  # Use Python 3.12+ for compatibility
  PYTHON_VERSION: "3.12"
  # Disable pip cache for clean builds
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
cache:
  paths:
    - .cache/pip/
    - server/.venv/
# Backend Tests
test:backend:
  stage: test
  image: python:${PYTHON_VERSION}
  before_script:
    - cd server
    - python -m venv .venv
    - source .venv/bin/activate
    - pip install --upgrade pip
    - pip install -r requirements.txt
    # pytest already includes JUnit XML support
  script:
    - source .venv/bin/activate
    - python -m pytest tests/ -v --junit-xml=test-results.xml
  only:
    changes:
      - server/**/*
      - .gitlab-ci.yml
  artifacts:
    reports:
      junit: server/test-results.xml
    when: always
    expire_in: 1 week
# Frontend tests
test:frontend:
  stage: test
  image: node:24
  before_script:
    - cd client
    - npm install -g pnpm
    - pnpm install
  script:
    - pnpm build
    # - pnpm test
  only:
    changes:
      - client/**/*
      - .gitlab-ci.yml

Styled RecipeGenerator page
  client/src/App.css
  client/src/App.tsx
  client/src/components/HomePage.module.css
  client/src/components/HomePage.tsx
  client/src/components/Layout.tsx
  client/src/components/RecipeGenerator.tsx
Due: test:frontend

Implemented AI placeholder image
  client/src/App.css
  client/src/components/HomePage.module.css
  client/src/components/RecipeCard.tsx
  client/src/components/RecipeDetails.tsx
  server/recipes/recipes_db.py
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Created CommunityFeed component
  client/src/App.css
  client/src/App.tsx
  client/src/components/CommunityFeed.tsx
  client/src/components/CommunityRecipeCard.tsx
  client/src/components/Layout.tsx
  server/recipes/recipes_db.py
  server/recipes/recipes_router.py
Due: test:backend, test:frontend

Add backend image uploading using Minio for S3 photo storage.
  client/package-lock.json
  server/.env.example
  server/README.md
  server/data/chefgpt.sql
  server/main.py
  server/photos/__init__.py
  server/photos/photos_api.py
  server/photos/photos_db.py
  server/photos/photos_models.py
  server/photos/photos_router.py
  server/photos/photos_schemas.py
  server/recipes/recipes_schemas.py
  server/shared/database.py
Due: test:backend, test:frontend

Fix sql typo and add type hints.
  client/types/recipe.d.ts
  server/data/chefgpt.sql
Due: test:backend, test:frontend

Make separate file for recipe image requests.
  client/src/components/recipe-upload-image-api.ts
Due: test:frontend

Make image upload component.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Replace recipe image text input field with new image upload component.
  client/src/components/RecipeEditPage.tsx
Due: test:frontend

Improve image update success message.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Update README.md
  README.md
Due: none

Fixed event bubbling
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Removed upload image option from Register page
  client/src/components/Register.tsx
Due: test:frontend

Finalized styling
  client/src/App.css
  client/src/components/CommunityFeed.tsx
  client/src/components/Cookbook.tsx
  client/src/components/EditProfile.tsx
  client/src/components/HomePage.module.css
  client/src/components/HomePage.tsx
  client/src/components/Layout.tsx
  client/src/components/Login.tsx
  client/src/components/RecipeDetails.tsx
  client/src/components/RecipeEditPage.tsx
  client/src/components/RecipeUploadImage.module.css
  client/src/components/UserMenu.tsx
  client/src/main.tsx
Due: test:frontend

Add minio instructions
  server/README.md
Due: test:backend

Implement AI placeholder image on Recipe Edit Page
  client/src/components/RecipeEditPage.tsx
Due: test:frontend

Removed conflicting styles.
  client/src/App.css
  client/src/components/RecipeUploadImage.module.css
Due: test:frontend

Removd unnecessary image header.
  client/src/components/RecipeEditPage.tsx
Due: test:frontend

Added file upload error handling.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Remove drag and drop for now
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Added imageURL state.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Fixed EditProfile navigation for save button
  client/src/App.css
  client/src/components/EditProfile.tsx
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Added drag and drop image feature to upload file.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

remove unnecessary imageURL and error message.
  client/src/components/RecipeUploadImage.tsx
Due: test:frontend

Added error handling, and updated verbiage.
  client/src/components/CommunityFeed.tsx
  client/src/components/Cookbook.tsx
  client/src/components/HomePage.tsx
  client/src/components/Login.tsx
  client/src/components/RecipeGenerator.tsx
Due: test:frontend

Update over-all README
  README.md
  assets/ai-chef-inputs.png
  assets/ai-chef.png
  assets/community-table.png
  assets/cookbook.png
  assets/drag-photo.png
  assets/home.png
  assets/image.png
  assets/login.png
  assets/recipe-generation.png
Due: none

Add frontend and backend readme files.
  client/README.md
  server/README.md
Due: test:backend, test:frontend
